.App {
  margin: 50px;
  text-align: center;
}
body{
  background-color: beige;
}
.search{
  padding: 20px;
  font-size: 20px;
  border-radius: 10px;
}
.list{
  padding: 0;
  list-style: none;
  text-align: center;
}
.listItem{
  margin-bottom: 20px;
  font-size: 25px;
  color: #444;
  font-weight: 300;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
